.prompt{
    color:lawngreen;
    font-size: large;
}

div {
    border-width: 3px;
    width: 15%;
    border-style: solid;
    border-color: darkorchid;
    display: flex;
    justify-content:right;
}

#heading {
    color: aquamarine;
    background-color: blueviolet;
    width: 7%;
    font-style: oblique;
}